/* This is a commentc, let's style our map */

*{
    /* Reset default margins and padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4fc3f7;
}

/*style the container */
#map {
    width: 90%;
    height: 500px;
    margin: 0 auto; /* Center it */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #333; /* Dark border */
}